# SQL Direct Connection
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Supabase Key
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Google API 
GOOGLE_EMAIL= # The gmail to send the mail from
GOOGLE_APP_PASSWORD= # https://myaccount.google.com/apppasswords